/* PopIt */

@import "reset";
@import "colours";

body {
    color: $text_colour;    
    font-family: Arial;
}

a {
    color: $primary_colour;
}

menu {
  li {
    display: inline;
    list-style: none;
    padding: 0 0.5em;
    
  }
}

h1, h2 {
  font-weight: bold;
}

h1 { font-size: 200%; }
h2 { font-size: 150%; }

h1, h2, p {
  margin-top: 1em;
}

table {
  
  max-width: 50%;
  
  th {
    font-weight: bold;
  }

  thead {
    th {
      text-align: left;
    }
  }

  tbody {
    th {
      text-align: right;
    }
  }

  td, th {
    padding: 0.5em;
  }
}

.tt {
  font-weight: bold;
  font-family: Monaco, Courier, monospace;
}

header {
  
  #logo {
    padding: 1em;
    float: left;

    a {
      text-decoration: none;
      font-size: 200%;
      font-weight: bold;

      span.tld {
        font-size: 50%;
      }
    }
  }
  
  #domain-search {
    padding: 1em;
    float: right;
  }

  menu {
    clear: both;
    padding: 0.5em 1em;
    background: $primary_colour_very_light;
    border-bottom: 1px solid $primary_colour_light;
    border-top: 1px solid $primary_colour_light;

    li {
      padding: 0 1em 0 0;
    }
  }
  
}

#content {
  padding: 1em;
}

footer {
  
  padding: 1em;
  background: $primary_colour_very_light;
  border: 1px solid $primary_colour_light;
  border-width: 1px 0;

  font-size: 80%;
  text-align: center;

}