* {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

body {
    color: #333;    
}

h1, h2, p {
    margin: 0 auto;
    margin-bottom: 1em;
}

p {
  max-width: 80%;
}

table {
    height: 100%;
    width: 100%;
}

td {
    text-align: center;
}

a {
    color: #ff9900;
    text-decoration: none;
}

.mono {
  font-family: Courier, monospace;
  background: #fff6ef;
  padding: 0 0.2em;
}