<%
    var page_title = domain;
%>

<% include header %>

<h1><%= domain %></h1>

<p>root_ip_address: <%= root_ip_address %></p>
<p>www_cname: <%= www_cname %></p>
<p>www_ip_address: <%= www_ip_address %></p>


<div class="result-box ok">
    <h2>Heading of test carried out</h2>

    <p>Some text that describes the result of the test being carried out.</p>

    <p>This is some more text…</p>
</div>

<div class="result-box warning">
    This is good
</div>

<div class="result-box error">
    This is good
</div>



<% include footer %>
