<%
    var page_title = domain;
%>

<% include header %>

<h1><%= domain %></h1>

<p>root_ip_address: <%= root_ip_address %></p>
<p>www_cname: <%= www_cname %></p>
<p>www_ip_address: <%= www_ip_address %></p>

<% include footer %>
