<%
    var page_title = domain;
%>

<% include header %>

<h1><%= domain %></h1>

<p>root_ip_address: <%= root_ip_address %></p>
<p>www_cname: <%= www_cname %></p>
<p>www_ip_address: <%= www_ip_address %></p>


<%
    var result = {
        status: "ok",
        title: "This is the title",
        body: "This is the body",
    };
%>

<% include result-box %>

<div class="result-box ok">
    <h2>OK - Something went well</h2>

    <p>Some text that describes the result of the test being carried out.</p>

    <p>This is some more text…</p>
</div>

<div class="result-box warning">
    <h2>Warning - something is not so good</h2>

    <p>This is good</p>
</div>

<div class="result-box error">
    <h2>Error - something is really bad</h2>

    <p>This is good</p>
</div>

<pre>
    
<h1>origin ip address</h1>

not set: error - visitors will see the ugly domain not found page in their
browsers. Instructions on how to change the DNS record.

set to an IP that is not ours: warning - users will be sent to a server but you
need to remember to change the DNS record every time the server's IP address
changes. Instructions on how to change the DNS record.

our IP address: ok - users will be redirected to your www page.

<h1>www ip address</h1>

not set: error - as above

our ip address: error - users will be in a redirection loop

not our IP address: ok - users will reach a server
 
<h1>domain paid status</h1>

not paid: warning - users will get redirected but they'll see the interstitial
page

paid but expiring soon: warning - users will get redirected to www instantly but
you need to renew soon to keep it that way. (perhaps make this a worning inside
the ok box??)

paid: ok - users will be redirected straight away to the www server.
   
</pre>

<% include footer %>
