<%
    var page_title = 'FAQs';
%>

<% include header %>

<h1>Frequently Asked Questions.</h1>


<h2>Are you going to steal my traffic?</h2>

<p>No. The only thing we’ll ever show on your domain is a redirection page (on the free plan), or an error page in some circumstances. We’ll never show ads, or any distracting messages. We’ll never redirect your traffic elsewhere.</p>

<p>The redirection pages will have a prominent link to your site. It’ll also have a less prominent link to our homepage, and an explanation of why your seeing it.</p>


<h2>Will this service stay up?</h2>

<p>Yes - we run it in Amazon’s cloud so it should be a reliable as they are (which is very). We also have a revenue stream which means that we’re financially interested in making the service good so that we continue to get paid. This is not a free service we might get bored of and stop maintaining.</p>


<h2>Will the IP address change?</h2>

<p>We really hope not - if it does it would be a great inconveniance for everyone.</p>

<p>We may well add more IP addresses in the future - to make the service even more resilient - but we’ll try to keep old IP addresses for as long as possible. If we do need to change IP addresses we’ll try to give as much notice as possible via our announcement mailing list and direct if you’ve paid for redirection.</p>


<h2>Does it work for all domains?</h2>

<p>Yes. This is not limited to ‘.com’ domains - all domains will work.</p>


<h2>What if I want to cancel?</h2>

<p>You can cancel at any time - you don’t need to inform us. Just change the IP address in your DNS settings and the traffic will no longer go to us for redirection.</p>

<p>If you've paid for instant redirection and are not happy you can request a full refund (FIXME - add url to cancellation page) as well.</p>


<h2>Can anyone pay for instant redirection?</h2>

<p>Yes - you don’t need to own the domain to pay for the redirection to be instant. As the paid redirection is just a faster version of the free redirection there is no reason to be restrictive. Also this means that you can set up the service for someone else, and then they can decide to pay or not. It’s just simpler for everyone.</p>


<h2>Will you send reminders when instant redirection is about to expire?</h2>

<p>Yes - as the expiry date gets closer an email will be sent to the person who paid and anyone else who has subscribed to announcements for that domain.</p>


<h2>Can I renew the redirection early?</h2>

<p>Yes - we’ll add the new time to the old time. So if you have a month remaining and buy another year the redirection will expire in one year and one month’s time.</p>


<h2>What happens when instant redirection expires?</h2>

<p>The domain reverts to the free plan and people will see the notice page before being redirected.</p>


<% include footer %>
