        </div>
        
        <footer>
            <menu>
                <ul>
                    <li>&copy; 2012 <a href="/"><%= configGeneral.name %></a></li>
                    <li><a href="mailto:<%= configGeneral.support_email_address %>"><%= configGeneral.support_email_address %></a></li>
                </ul>
                <p>
                    <span class="tt"><%= configGeneral.redirector_ip_address %></span>  ← use in your DNS origin A records
                </p>
            </menu>
        </footer>

	</body>
</html>
