<%
    var page_title = 'Home';
%>

<% include header %>

<h1>Get your traffic to your site.</h1>

<p>Don't leave people who forget to add the www dangling, instead redirect them to your main webpage.</p>

<% include footer %>
